body {
    padding-top: 5rem;
}

form{
    display: grid;
    grid-template-columns: 30%;
}

label{
    font-weight: bold;
    
}

.tarea{
    width: 10rem;
}

#message{
    width: 25rem;
    height: 100px;
    text-align: left;
    overflow-wrap: initial;
    font-weight: 400;
    font-size: 16px;
    word-break: keep-all;

}

.submit{
    background-color: blue;
    color: aliceblue;
    width: 15rem;
    border-radius: 10px;
}